<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">Change Password</div>
		<div class="panel-body detail">
			<div class="has-error">
				<div class="help-block" id="loginFromMessage"></div>
			</div>
			<form #form="ngForm" class="form-login" role="form" novalidate>
				<div class="form-horizontal">
				<div class="form-group" [class.has-error]="oldPassword.touched && oldPassword.invalid">
					<label for="oldPassword" class="control-label col-md-2">Old Password</label>
					<input #oldPassword="ngModel" name="oldPassword" class="form-control col-md-10" type="password" [(ngModel)]="model.oldPassword"
					 placeholder="Old Password" required autofocus />
					<div style="color:red" *ngIf="oldPassword.touched && oldPassword.invalid">
						Old password is required.
					</div>
				</div>
				<div class="form-group" [class.has-error]="newPassword.touched && newPassword.invalid">
					<label for="newPassword" class="control-label col-md-2">New Password</label>
					<input #newPassword="ngModel" name="newPassword" class="form-control col-md-10" type="password" [(ngModel)]="model.newPassword"
					 placeholder="New Password" required />
					<div style="color:red" *ngIf="newPassword.touched && newPassword.invalid">
						New password is required.
					</div>
				</div>
				<div class="form-group" [class.has-error]="confirmPassword.touched && model.confirmPassword != model.newPassword">
					<label for="confirmPassword" class="control-label col-md-2">Confirm Password</label>
					<input #confirmPassword="ngModel" name="confirmPassword" class="form-control col-md-10" type="password" [(ngModel)]="model.confirmPassword"
					 placeholder="Confirm Password" required />
					<div style="color:red" *ngIf="confirmPassword.touched && model.confirmPassword != model.newPassword">
						Confirm password is required and must match new password.
					</div>
				</div>
				</div>
			</form>
		</div>
		<div class="panel-footer clearfix">
			<div class="pull-right ng-isolate-scope">
				<button type="button" class="btn btn-primary" (click)="changePassword()" [disabled]="form.invalid || model.newPassword != model.confirmPassword">Change Password</button>
				<a class="btn btn-primary" routerLink="/" routerLinkActive="active"><span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
			</div>
		</div>
	</div>
</div>