<div class="container">
	<h2>Forgot your password?</h2>
	<div class="col-sm-12">
		<form #form="ngForm" class="form-login" role="form" novalidate>
			<div class="form-horizontal">
				<div class="form-group">
					<label for="email" class="control-label col-md-2">Email:</label>
					<input #email="ngModel" name="email" type="email" class="form-control" placeholder="Email Address" 
						[(ngModel)]="emailAddress" required autofocus />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" (click)="forgotPassword()"
						>Email Password</button>
				</div>
			</div>
		</form>
	</div>
</div>
